@import "/common/modules/AutomaticSettings/css/photonOptions.css";

.line > code {
  margin: 0;
}

.float-image {
  margin: 10px;
}

#charMap {
  width: 100%;
  font-family: monospace;
  font-size: 0.9em;
  resize: vertical;
}
